<form action="" method="get" id="load-more-form" novalidate>
  <div class="load-more">
    <div class="load-image"></div>
    <button id="load-more" type="submit" class="load-article big-btn">Load More</button>
  </div>
</form>
