<h1>{{ sectionName }}</h1>
<div class="stories-list">
  <div class="load-more-results">
    {% include "shared/article_list"  %}
  </div>
  {% if showLoadMore %}
    {% include "shared/load_more_stories" %}
  {% endif %}
</div>
<script type="text/javascript">
  var storyTemplate = "list_articles" ;
  var api ='/api/v1/stories?fields={{ loadMoreFields }}&section-id={{ sectionId }}';
  qtReady.push(function() { app.quintypeLoadMore($(".stories-list"), {limit: 7, offset: {{storyCount}}}, api, storyTemplate); });
</script>
