{% extends "layout" %}
{% block content %}
<div id="content-wrapper">
  <section class="container error-page">
    <div class="error-page__title-container">
      <h2 class="error-page__title">No Results</h2>
    </div>
    <h3 class="error-page__subtitle">There are no stories matching your query.</h3>
    <h4 class="error-page__return-link"><a class="error-page__return-page" href="/">Return to home page</a></h4>
  </section>
</div>
{% endblock %}
