<div class="story-element-{{element['subtype']}}">
   {% set elements = element['story-elements'] %}
   {% for galleryImage in elements %}
       <div class="story-element-image-gallery__image">
           <figure>
             <img src="{{focusedImageUrl(galleryImage['image-s3-key'], config['image-cdn'], [16,9], galleryImage['image-metadata'], {w: 260, q: 60, auto: 'format', fm: 'pjpg'})}}"/>
           </figure>
           <div class="story-element-image-gallery__caption">
              {{ galleryImage['title'] | raw }}
          </div>
      </div>
   {% endfor %}
</div>
