<div class="story-element-{{ element['subtype'] }}">
     <h5>{{ element['metadata']['question'] | raw }}</h5>
      <div class="answer">
          <p>{{ element['metadata']['answer'] | raw }}</p>
      </div>
</div>
