<ul>
  <li><a href="/about-us">About Us</a></li>
  <li><a href="/contact-us">Contact Us</a></li>
  <li><a href="/privacy-policy">Privacy Policy</a></li>
  <li><a href="/terms-of-use">Terms Of Use</a></li>
</ul>
