<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <h3 itemprop="name" ><a href="/">Pina Colada</a></h3>
</span>
{% include "shared/search_box" %}
{% include "shared/menu" %}
{% include "shared/login" %}
{% include "shared/register" %}
