<ul>
  {% for level1menu in client.menuItems(nestedMenuItems) %}
    <li><a href="{{level1menu.url()}}">{{level1menu.title()}}</a></li>
    <ul>
      {% if level1menu['children'] %}
        {% for level2menu in client.menuItems(level1menu['children']) %}
          <li><a href="{{level2menu.url()}}">{{level2menu.title()}}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  {% endfor %}
</ul>
