<div class="">
  <h4>Register</h4>
  <input type="text" id="signup-name" placeholder="Name">
  <input type="text" id="signup-email" placeholder="Email">
  <input type="password" id="signup-password" placeholder="Password">
  <button type="button" name="button" class="js-signup-button">Register</button>
  <p class="user-exists signup-success"></p>
</div>

<script type="text/javascript">
  qtReady.push(function() { app.members.memberRegistration(); });
</script>
