<div class="layout-search" id="main-search">
	<form class="search-form" role="search" action="/search">
		<div class="form-el">
		    <input type="text" class="form-input" name="q" placeholder="Search here">
	    </div>
	</form>
</div>
