<h1>Showing results for '{{ tag }}'</h1>
<div class="sectionpage-articles ">
  {% include "/shared/article_list"  %}
  <div class="load-more-results list-article">
  </div>
  <div class="load-more-button load-article-container">
    {% include "shared/load_more_stories" %}
  </div>
</div>
<script type="text/javascript">
  var storyTemplate = "list_articles" ;
  var api ='/api/v1/stories?fields={{loadMoreFields}}&section-id={{sectionId}}';
  qtReady.push(function() { app.quintypeLoadMore($(".sectionpage-articles"), {limit: 7}, 8 , api, storyTemplate); });
</script>
