<span class="fb_icon">
  <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.5.2 (25235) - http://www.bohemiancoding.com/sketch -->
    <title>facebook</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="facebook" sketch:type="MSArtboardGroup">
            <circle id="Oval-1" fill="#3B5998" sketch:type="MSShapeGroup" cx="16" cy="16" r="16"></circle>
            <path d="M17.9664174,11.8158339 C17.8897532,11.8158339 17.8077815,11.8398263 17.7187331,11.8867205 C17.6296846,11.9336147 17.5536102,11.9979579 17.4905096,12.0802955 C17.4268194,12.1620877 17.376103,12.2618742 17.3383607,12.3791097 C17.3000286,12.4963453 17.2811574,12.625577 17.2811574,12.7662596 L17.2811574,14.6316678 L20.7452,14.6316678 L20.7452,17.2719211 L17.2811574,17.2719211 L17.2811574,25.2264883 L13.9692637,25.2264883 L13.9692637,17.2719211 L11,17.2719211 L11,14.6316678 L13.9692637,14.6316678 L13.9692637,13.0481702 C13.9692637,12.5083415 14.0706963,11.9919598 14.2735616,11.4990253 C14.4764269,11.0066361 14.7559564,10.572592 15.1109706,10.196893 C15.4665746,9.82173929 15.8852791,9.52837782 16.3670841,9.31680858 C16.8494789,9.10578462 17.38259,9 17.9664174,9 L20.7452,9 L20.7452,11.8158339 L17.9664174,11.8158339" id="fb" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
  </svg>
</span>
