<svg width="45px" height="45px" viewBox="0 0 55 55" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>Artboard 3</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-3">
            <g id="Group">
                <rect id="Rectangle-1" fill="#CC413E" x="0" y="0" width="55"
                      height="55" rx="27.5"></rect>
                <path d="M39.3721014,16.5 L39.3721014,25.7918113 L35.7983477,22.2180146 L31.509826,26.5065363 L29.3655651,24.3622755 L33.6540868,20.0737538 L30.080333,16.5 L39.3721014,16.5 L39.3721014,16.5 Z M26.5065363,31.509826 L22.2180146,35.7983477 L25.7917684,39.3721014 L16.5,39.3721014 L16.5,30.080333 L20.0737538,33.6540868 L24.3622755,29.3655651 L26.5065363,31.509826 L26.5065363,31.509826 Z"
                      id="Shape" fill="#FFFFFF"></path>
            </g>
        </g>
    </g>
</svg>
