<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.5.2 (25235) - http://www.bohemiancoding.com/sketch -->
    <title>linkedin</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
       sketch:type="MSPage">
        <g id="linkedin" sketch:type="MSArtboardGroup" fill="#007AB9">
            <g sketch:type="MSLayerGroup" id="Shape">
                <path d="M23.7683112,22.3818947 L23.7683112,17.0313825 C23.7683112,14.1647104 22.2378966,12.8307371 20.1976484,12.8307371 C18.5511964,12.8307371 17.8133995,13.7366512 17.4022434,14.3721158 L17.4022434,13.0500204 L14.3002985,13.0500204 C14.3414142,13.925783 14.3002985,22.3818947 14.3002985,22.3818947 L17.4022434,22.3818947 L17.4022434,17.1702619 C17.4022434,16.8920463 17.4223443,16.6133738 17.5045756,16.4141914 C17.7284272,15.8568464 18.2387177,15.2798573 19.095293,15.2798573 C20.2182062,15.2798573 20.6668233,16.1355189 20.6668233,17.3895452 L20.6668233,22.3823515 L23.7683112,22.3823515 L23.7683112,22.3818947 Z M11.0325208,11.77635 C12.1138615,11.77635 12.7877007,11.0591109 12.7877007,10.1632473 C12.7675997,9.24819642 12.1138615,8.55151515 11.0530786,8.55151515 C9.99229567,8.55151515 9.29835544,9.24773958 9.29835544,10.1632473 C9.29835544,11.0591109 9.97173786,11.77635 11.0128766,11.77635 L11.0325208,11.77635 L11.0325208,11.77635 Z M16,32 C7.16373333,32 0,24.8362667 0,16 C0,7.1632 7.16373333,0 16,0 C24.8362667,0 32,7.1632 32,16 C32,24.8362667 24.8362667,32 16,32 L16,32 Z M12.5834932,22.3818947 L12.5834932,13.0500204 L9.48200519,13.0500204 L9.48200519,22.3818947 L12.5834932,22.3818947 L12.5834932,22.3818947 Z"
                      sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </g>
</svg>
