<svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>Artboard 4</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-4" fill="#FFFFFF">
            <g id="Group-3-Copy">
                <circle id="Oval-1" opacity="0.2" cx="30" cy="30" r="30"></circle>
                <g id="Group-2" transform="translate(17.000000, 18.200000)">
                    <polygon id="Line"
                             points="1.53339115 3.54768993 21.2185825 23.2328813 21.8721785 23.8864773 22.2257319 24.2400307 22.5792853 23.8864773 23.8864773 22.5792853 24.2400307 22.2257319 23.8864773 21.8721785 23.2328813 21.2185825 3.54768993 1.53339115 2.89409393 0.879795154 2.54054054 0.526241764 2.18698715 0.879795154 0.879795154 2.18698715 0.526241764 2.54054054 0.879795154 2.89409393 1.53339115 3.54768993"></polygon>
                    <polygon id="Line-Copy"
                             points="1.56711868 21.2185825 0.913522687 21.8721785 0.559969296 22.2257319 0.913522687 22.5792853 2.22071468 23.8864773 2.57426807 24.2400307 2.92782146 23.8864773 3.58141746 23.2328813 23.2666088 3.54768993 23.9202048 2.89409393 24.2737582 2.54054054 23.9202048 2.18698715 22.6130129 0.879795154 22.2594595 0.526241764 21.9059061 0.879795154 21.2523101 1.53339115"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>
